# Chapter 1: Data Frames

In [13]:
import pandas as pd

df = pd.read_csv('results.csv')
df.shape
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Republic of Ireland,False
20,1882-02-25,Wales,Northern Ireland,7,1,Friendly,Wrexham,Wales,False
21,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland,False
22,1882-03-13,Wales,England,5,3,Friendly,Wrexham,Wales,False
23,1882-03-25,Scotland,Wales,5,0,Friendly,Glasgow,Scotland,False
24,1883-02-03,England,Wales,5,0,Friendly,London,England,False
25,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England,False
26,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England,False
27,1883-03-12,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
28,1883-03-17,Northern Ireland,Wales,1,1,Friendly,Belfast,Republic of Ireland,False
29,1884-01-26,Northern Ireland,Scotland,0,5,British Championship,Belfast,Republic of Ireland,False
...,...,...,...,...,...,...,...,...,...
41510,2019-11-19,Belgium,Cyprus,6,1,UEFA Euro qualification,Brussels,Belgium,False
41511,2019-11-19,San Marino,Russia,0,5,UEFA Euro qualification,Serravalle,San Marino,False
41512,2019-11-19,Cuba,United States,0,4,CONCACAF Nations League,George Town,Cayman Islands,True
41513,2019-11-19,Mexico,Bermuda,2,1,CONCACAF Nations League,Mexico City,Mexico,False
41514,2019-11-19,El Salvador,Dominican Republic,2,0,CONCACAF Nations League,San Salvador,El Salvador,False
41515,2019-11-19,Saint Lucia,Montserrat,0,1,CONCACAF Nations League,Gros Islet,Saint Lucia,False
41516,2019-11-19,Barbados,Cayman Islands,3,0,CONCACAF Nations League,Bridgetown,Barbados,False
41517,2019-11-19,U.S. Virgin Islands,Saint Martin,1,2,CONCACAF Nations League,Upper Bethlehem,U.S. Virgin Islands,False
41518,2019-11-19,Puerto Rico,Anguilla,3,0,CONCACAF Nations League,Bayamón,Puerto Rico,False
41519,2019-11-19,Brazil,South Korea,3,0,Friendly,Abu Dhabi,United Arab Emirates,True
41520,2019-11-19,Croatia,Georgia,2,1,Friendly,Pula,Croatia,False
41521,2019-11-19,Ecuador,Colombia,0,1,Friendly,Harrison,United States,True
41522,2019-11-19,Montenegro,Belarus,2,0,Friendly,Podgorica,Montenegro,False
41523,2019-11-19,Saudi Arabia,Paraguay,0,0,Friendly,Riyadh,Saudi Arabia,False
41524,2019-11-19,Maldives,Guam,3,1,FIFA World Cup qualification,Malé,Maldives,False
41525,2019-11-19,Syria,Philippines,1,0,FIFA World Cup qualification,Dubai,United Arab Emirates,True
41526,2019-11-19,Nepal,Kuwait,0,1,FIFA World Cup qualification,Thimphu,Bhutan,True
41527,2019-11-19,Jordan,Chinese Taipei,5,0,FIFA World Cup qualification,Amman,Jordan,False
41528,2019-11-19,Iraq,Bahrain,0,0,FIFA World Cup qualification,Amman,Jordan,True
41529,2019-11-19,Hong Kong,Cambodia,2,0,FIFA World Cup qualification,Hong Kong,Hong Kong,False
41530,2019-11-19,Uzbekistan,Palestine,2,0,FIFA World Cup qualification,Tashkent,Uzbekistan,False
41531,2019-11-19,Yemen,Singapore,1,2,FIFA World Cup qualification,Muharraq,Bahrain,True
41532,2019-11-19,Afghanistan,Qatar,0,1,FIFA World Cup qualification,Dushanbe,Tajikistan,True
41533,2019-11-19,Oman,India,1,0,FIFA World Cup qualification,Muscat,Oman,False
41534,2019-11-19,Myanmar,Mongolia,1,0,FIFA World Cup qualification,Mandalay,Myanmar,False
41535,2019-11-19,Kyrgyzstan,Tajikistan,1,1,FIFA World Cup qualification,Bishkek,Kyrgyzstan,False
41536,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Hanoi,Vietnam,False
41537,2019-11-19,Malaysia,Indonesia,2,0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,False
41538,2019-11-19,Turkmenistan,Sri Lanka,2,0,FIFA World Cup qualification,Ashgabat,Turkmenistan,False
41539,2019-11-19,Lebanon,North Korea,0,0,FIFA World Cup qualification,Beirut,Lebanon,False

In [14]:
df.describe()

         home_score    away_score
count  41540.000000  41540.000000
mean       1.745643      1.187819
std        1.753444      1.405511
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [16]:
df.values

array([['1872-11-30', 'Scotland', 'England', ..., 'Glasgow', 'Scotland',
        False],
       ['1873-03-08', 'England', 'Scotland', ..., 'London', 'England',
        False],
       ['1874-03-07', 'Scotland', 'England', ..., 'Glasgow', 'Scotland',
        False],
       ...,
       ['2019-11-19', 'Malaysia', 'Indonesia', ..., 'Kuala Lumpur',
        'Malaysia', False],
       ['2019-11-19', 'Turkmenistan', 'Sri Lanka', ..., 'Ashgabat',
        'Turkmenistan', False],
       ['2019-11-19', 'Lebanon', 'North Korea', ..., 'Beirut', 'Lebanon',
        False]], dtype=object)

## Import Data

In [64]:
import pandas as pd
music_data = pd.read_csv('shopping.csv')

## Preparing Data

### Split the Data into Training/ Test Sets

In [66]:
# X is the Input Data
X = music_data.drop(columns='style')
X

    age  gender
0    16       1
1    18       1
2    19       1
3    20       1
4    23       1
5    25       1
6    26       1
7    29       1
8    30       1
9    31       1
10   33       1
11   37       1
12   15       0
13   18       0
14   20       0
15   20       0
16   21       0
17   25       0
18   26       0
19   27       0
20   30       0
21   31       0
22   34       0
23   35       0

In [67]:
# y is the Output Data
y = music_data['style']
y

0             Streetwear
1             Streetwear
2             Streetwear
3             Streetwear
4                 Casual
5                 Casual
6                 Dapper
7                 Dapper
8                 Dapper
9                  Suite
10                 Suite
11                 Suite
12             Colourful
13             Colourful
14             Colourful
15             Colourful
16         Sophisticated
17         Sophisticated
18       Business Casual
19       Business Casual
20       Business Casual
21    Formal Office Wear
22    Formal Office Wear
23    Formal Office Wear
Name: style, dtype: object

## Create a Model Using an Algorithm

In [68]:
from sklearn.tree import DecisionTreeClassifier

In [69]:
model = DecisionTreeClassifier()
model.fit(X, y)
music_data

    age  gender               style
0    16       1          Streetwear
1    18       1          Streetwear
2    19       1          Streetwear
3    20       1          Streetwear
4    23       1              Casual
5    25       1              Casual
6    26       1              Dapper
7    29       1              Dapper
8    30       1              Dapper
9    31       1               Suite
10   33       1               Suite
11   37       1               Suite
12   15       0           Colourful
13   18       0           Colourful
14   20       0           Colourful
15   20       0           Colourful
16   21       0       Sophisticated
17   25       0       Sophisticated
18   26       0     Business Casual
19   27       0     Business Casual
20   30       0     Business Casual
21   31       0  Formal Office Wear
22   34       0  Formal Office Wear
23   35       0  Formal Office Wear

In [70]:
predictions = model.predict([ [21, 1], [22, 0] ])

predictions

array(['Casual', 'Sophisticated'], dtype=object)

## Measuring the Accuracy of Prediction Models

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
score = accuracy_score(y_test, predictions)

print('Prediction Accuracy Score is: ' + str(score))

Prediction Accuracy Score is: 0.6